.footer{
    background-color: #048998;
    color: #eeeeee;
}
.footer .container{
    color: #eeeeee;
}
.col a{
    color: #eeeeee; 
}
.col a p{
    color: #eeeeee; 
}
.col a p:Hover{
    color: #ea9215; 
}
.copy{
    color: #eeeeee; 
}
.copy:Hover{
    color: #ea9215; 
}

