<div class="footer">
    <div class="container">
         <div class="columns ">
             <div class="column is-5 col">
                 <p><a   class="title">EstelleStates</a></p>
                 <br>
                 <a><p class="heading"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i> Instagram</p></a>
                 <a><p class="heading"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i> Facebook</p></a>
                 <a><p class="heading"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> Linkedin</p></a>
                 <a><p class="heading"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i> Twitter</p></a>
             </div>
             <div class="column is-2 col">
                    <p><a  class="title">Company</a></p>
                    <br>
                    <a routerLink="/main"><p class="subtitle"> Home</p></a>
                    <a routerLink="/properties"><p class="subtitle"> Properties</p></a>
                    <a  ><p class="subtitle"> About</p></a>
                    
                   
                </div>
                <div class="column is-2 col">
                        <p><a   class="title">Legal</a></p>
                        <br>
                        <a  ><p class="subtitle"> documents</p></a>
                        <a  ><p class="subtitle"> How to Buy</p></a>
                        <a  ><p class="subtitle"> Terms and conditions</p></a>
                        
                    </div>   
                    <div class="column is-3 col">
                            <p><a   class="title">Subscribe</a></p>
                            <br>
                            <div class="field has-addons">
                                    <div class="control">
                                      <label for="email"></label>
                                      <input class="input" name="email" type="text" id="email" placeholder="Your email">
                                    </div>
                                    <div class="control">
                                      <a class="button is-info">
                                        Subscribe
                                      </a>
                                    </div>
                                  </div>
                        </div>   
         </div>
         <a   class="copy">copyright&copy; 2019 seven Academy</a>
    </div>
    
</div>
