.til{
    color: #3a4750;
    word-spacing: 5px;;
}
.body{
    background-image: url(../../../assets/backg.jpg);
    
    background-repeat: no-repeat;
    
    
}
.tit{
    font-size: 70px;
    color: #fff;
   font-family: 'Mitr', sans-serif;

}
.titl{
    color: #fff;
    font-family: 'Mitr', sans-serif;
}
/* @media (max-width: 972px){
    .body {
      background-image: none;
   }
   } */

.test{
    background: rgba(0, 0, 0, 0.6);
    padding-bottom: 15%;
    padding-top: 12%;
}