   <div class="section body">
    <br><br><br>
        <div class="container has-text-centered">
          <header class="section-header">
      <h1 class="title is-1 is-spaced til has-text-weight-light">The Best   <br>Way to buy a Home </h1>
      <p class="subtitle is-3 is-spaced">Lorem ipsum dolor sit amet <br> adipisicing elit. Deleniti porro numquam <br>temporibus, rerum amet  omnis iure lorem ipsum </p>
      <a routerLink="/properties" class="button is-rounded is-large">Browse Properties</a>
    </header>
  </div>

</div>
