.til{
    color: #3a4750;
    word-spacing: 5px;;
}
.body{
    background-color: #eeeeee;
    background-image: url(../../../assets/background.jpg);
    background-repeat: no-repeat;
    padding-bottom: 13%;
    padding-top: 5%;
}
.tit{
    font-size: 50px;
}