<div class="columns">
     <div class="column is-12">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio,
               expedita impedit. Voluptatum accusantium saepe dolorem provident,
               asperiores quis. Qui temporibus nihil deleniti dolores quos amet 
               vero ipsam nisi. Suscipit, facilis.</p><br>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio,
                    expedita impedit. Voluptatum accusantium saepe dolorem provident,
                    asperiores quis. Qui temporibus nihil deleniti dolores quos amet 
                    vero ipsam nisi. Suscipit, facilis.</p>
     </div>
</div>
