<div class="properties">
<div class="container "><br>
    <h1 class="title">Choose your desired home</h1>
        <div class="filter">
            <h1 class="">Filters</h1>
            <label class="checkbox heading">
                <input type="checkbox">
               For Rent
              </label><br>
              <label class="checkbox heading">
                <input type="checkbox">
               For sale
              </label>
        </div><br>
        <div class="columns ">
            <div class="column is-3">
                <a href="#">
                 <div class="card">
                     <div class="card-image">
                         <figure class="image">
                             <img src="assets/home.jpg" alt="">
                         </figure>
                     </div>
                     <div class="card-content">
                         <div class="content">
                             <h1 class="subtitle">Humburger days</h1>
                             <p class="heading"><i class="fa fa-map-marker" aria-hidden="true"></i> location <span>North-west region, Mile four Bamenda</span> </p>
                             <p>lorem ipsum dolor set anime fed assa ndde assd </p>
                             <p><i class="fa fa-sun-o" aria-hidden="true"></i> | <i class="fa fa-bath" aria-hidden="true"></i> | <i class="fa fa-bed" aria-hidden="true"></i>
                             | <i class="fa fa-car" aria-hidden="true"></i></p>
                         </div>
                     </div>
                     <div class="card-footer">
                         <p class="card-footer-item ">For Sale <span> $1.2m</span></p>
                     </div>
                 </div></a>
            </div>
            <div class="column is-3">
                    <a href="#">
                     <div class="card">
                         <div class="card-image">
                             <figure class="image">
                                 <img src="assets/home2.jpg" alt="">
                             </figure>
                         </div>
                         <div class="card-content">
                             <div class="content">
                                 <h1 class="subtitle">Humburger days</h1>
                                 <p class="heading"><i class="fa fa-map-marker" aria-hidden="true"></i> location <span>North-west region, Mile four Bamenda</span> </p>
                                 <p>lorem ipsum dolor set anime fed assa ndde assd </p>
                                 <p><i class="fa fa-sun-o" aria-hidden="true"></i> | <i class="fa fa-bath" aria-hidden="true"></i> | <i class="fa fa-bed" aria-hidden="true"></i>
                                 | <i class="fa fa-car" aria-hidden="true"></i></p>
                             </div>
                         </div>
                         <div class="card-footer">
                             <p class="card-footer-item ">For Sale <span> $1.2m</span></p>
                         </div>
                     </div></a>
                </div>
                <div class="column is-3">
                        <a href="#">
                         <div class="card">
                             <div class="card-image">
                                 <figure class="image">
                                     <img src="assets/home.jpg" alt="">
                                 </figure>
                             </div>
                             <div class="card-content">
                                 <div class="content">
                                     <h1 class="subtitle">Humburger days</h1>
                                     <p class="heading"><i class="fa fa-map-marker" aria-hidden="true"></i> location <span>North-west region, Mile four Bamenda</span> </p>
                                     <p>lorem ipsum dolor set anime fed assa ndde assd </p>
                                     <p><i class="fa fa-sun-o" aria-hidden="true"></i> | <i class="fa fa-bath" aria-hidden="true"></i> | <i class="fa fa-bed" aria-hidden="true"></i>
                                     | <i class="fa fa-car" aria-hidden="true"></i></p>
                                 </div>
                             </div>
                             <div class="card-footer">
                                 <p class="card-footer-item ">For Sale <span> $1.2m</span></p>
                             </div>
                         </div></a>
                    </div>
                    <div class="column is-3">
                            <a href="#">
                             <div class="card">
                                 <div class="card-image">
                                     <figure class="image">
                                         <img src="assets/home2.jpg" alt="">
                                     </figure>
                                 </div>
                                 <div class="card-content">
                                     <div class="content">
                                         <h1 class="subtitle">Humburger days</h1>
                                         <p class="heading"><i class="fa fa-map-marker" aria-hidden="true"></i> location <span>North-west region, Mile four Bamenda</span> </p>
                                         <p>lorem ipsum dolor set anime fed assa ndde assd </p>
                                         <p><i class="fa fa-sun-o" aria-hidden="true"></i> | <i class="fa fa-bath" aria-hidden="true"></i> | <i class="fa fa-bed" aria-hidden="true"></i>
                                         | <i class="fa fa-car" aria-hidden="true"></i></p>
                                     </div>
                                 </div>
                                 <div class="card-footer">
                                     <p class="card-footer-item ">For Sale <span> $1.2m</span></p>
                                 </div>
                             </div></a>
                        </div>
        </div>
   </div>
</div>