<div class="columns">
  <div class="column is-4">
    <p class="subtitle"><i class="fa fa-check" aria-hidden="true"></i> Bed  rooms: 4</p>
    <p class="subtitle"><i class="fa fa-check" aria-hidden="true"></i> Bath Rooms: 4</p>
    <p class="subtitle"><i class="fa fa-check" aria-hidden="true"></i> Garage: 2</p>
    <p class="subtitle"><i class="fa fa-check" aria-hidden="true"></i> Bed rooms 4</p>
  </div>
  <div class="column is-4">
        <p class="subtitle"><i class="fa fa-check" aria-hidden="true"></i> Home theater</p>
        <p class="subtitle"><i class="fa fa-check" aria-hidden="true"></i> Guest quarters</p>
        <p class="subtitle"><i class="fa fa-check" aria-hidden="true"></i> Tankless water heater</p>
        <p class="subtitle"><i class="fa fa-check" aria-hidden="true"></i>  Tile</p>
  </div>
  <div class="column is-4">
        <p class="subtitle"><i class="fa fa-check" aria-hidden="true"></i> Gym/workout room</p>
        <p class="subtitle"><i class="fa fa-check" aria-hidden="true"></i> Manufactured wood</p>
        <p class="subtitle"><i class="fa fa-check" aria-hidden="true"></i> Ceiling fans</p>
        <p class="subtitle"><i class="fa fa-check" aria-hidden="true"></i>  Thermostats</p>
  </div>

</div>