.myNav{
    background-color: #048998;
}
.nav div a{
  color: #f6f5f5;
}
.brand{
    color: #f6f5f5;
}
.brand:Hover{
    color: #e9e4e6;
}
.nav div a:Hover{
    color: #e9e4e6;
    border: none;
    background: none;
  }
  .active{
      color: #000;
  }