<div class="section">
  <div class="container has-text-centered">
       <div class="section-header">
         <h1 class="title">----Our Services----</h1>
         <br>
       </div>
       <div class="columns">
         <div class="column is-4">
           <div class="card myCard">
                 <div class="card-content ">
                     <div class="card-content ">  
                        <h1 class=""><i class="fa fa-calendar-check-o fa-5x" aria-hidden="true"></i></h1>
                       <h1 class="title">Date on Time</h1>
                       <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         Facilis nesciunt voluptas pariatur, porro culpa molestiae voluptatibus, nostrum vol</p>
                     </div>
                 </div>
           </div>
         </div>
         <div class="column is-4">
            <div class="card myCard">
                  <div class="card-content ">
                      <div class="card-content ">  
                         <h1 class=""><i class="fa fa-pencil fa-5x" aria-hidden="true"></i></h1>
                        <h1 class="title">Good Reviews</h1>
                        <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                          Facilis nesciunt voluptas pariatur, porro culpa molestiae voluptatibus, nostrum vol</p>
                      </div>
                  </div>
            </div>
          </div>
          <div class="column is-4">
              <div class="card myCard">
                    <div class="card-content ">
                        <div class="card-content ">  
                           <h1 class=""><i class="fa fa-commenting fa-5x" aria-hidden="true"></i></h1>
                          <h1 class="title">Date on Time</h1>
                          <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Facilis nesciunt voluptas pariatur, porro culpa molestiae voluptatibus, nostrum vol</p>
                        </div>
                    </div>
              </div>
            </div>
       </div>
  </div>
  <br>
</div>