<div class="container choose">
    <div class="columns">
        <div class="column is-2"></div>
        <div class="column is-4">
           <h1 class="title">Why choose us?</h1>
           <p class="subtitle">Save time, money and get the best..</p>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
               Fuga pariatur explicabo atque nesciuntlicabo repellat exercitationem 
               quo modi  repellat exercitationem quo modi officiis doloribus?</p>
        </div>
        <div class="column is-4">
           <p class="is-italic subtitle"><i class="fa fa-check" aria-hidden="true"></i> lorem ipsum dolor set amet nutecds cevdv </p>
           <p class="is-italic subtitle"><i class="fa fa-check" aria-hidden="true"></i> lorem ipsum dolor set amet nutecds cevdv </p>
           <p class="is-italic subtitle"><i class="fa fa-check" aria-hidden="true"></i> lorem ipsum dolor set amet nutecds cevdv </p>
           <p class="is-italic subtitle"><i class="fa fa-check" aria-hidden="true"></i> lorem ipsum dolor set amet nutecds cevdv </p>
        </div>
        <div class="column is-2"></div>
    </div>
</div>
