<div class="container count wow tada">
   <nav class="level">
       <div class="level-item has-text-centered">
           <div>
           <p class="heading">properties</p>
           <p class="title">1000</p>
        </div>
       </div>
       <div class="level-item has-text-centered">
            <div>
            <p class="heading">Happy customers</p>
            <p class="title">300</p>
         </div>
        </div>
        <div class="level-item has-text-centered">
                <div>
                <p class="heading">properties</p>
                <p class="title">558</p>
             </div>
            </div>
            <div class="level-item has-text-centered">
                    <div>
                    <p class="heading">working days</p>
                    <p class="title">300</p>
                 </div>
                </div>
   </nav>
</div>
