<div class="property">
    <div class="container">
        <div class="columns">
            <div class="column is-9">
                <div class="slide">
                    <figure class="image">
                        <img src="assets/home.jpg" alt="">
                    </figure>
                </div>
                <div class="myTabs">
                        <div class="tabs">
                                <ul>
                                  <li class="is-active"><a>Facilities</a></li>
                                  <li><a>Description</a></li>
                                  <li><a>Location</a></li>
                                  <li><a>Documents</a></li>
                                </ul>
                              </div>
                </div>
            </div>
            <div class="column is-3">
                    <div class="tile is-ancestor">
                            <div class="tile is-12 is-vertical is-parent">
                              <div class="tile is-child box">
                                <p class="title">Contact the Agent</p>
                                <form>
                                <div class="field">
                                    <label class="lable">Name</label>
                                    <div class="control">
                                        <input type="text" class="input" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="field">
                                        <label class="lable">Email</label>
                                        <div class="control">
                                            <input type="email" class="input" placeholder="Your Email">
                                        </div>
                                    </div>
                                    <div class="field">
                                            <label class="lable">Phone</label>
                                            <div class="control">
                                                <input type="number" class="input" placeholder="Your Phone">
                                            </div>
                                        </div>
                                        <div class="field">
                                                <p class="control">
                                                  <button class="button is-success">
                                                    Send Message
                                                  </button>
                                                </p>
                                              </div>
                                    </form>
                              </div>
                         </div>
                </div>
            </div>
        </div>
    </div>
</div>
     