<div class="container has-text-centered agent">
    <h1 class="title  is-family-monospace is-2">Our Agents</h1>
    <div class="columns">
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img class="has-ratio" src="assets/avatar.jpg" alt="" height="100">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h1 class="subtitle">John Deo</h1>
                        <p class="heading">Managing director</p>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="card-footer-item"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="card-footer-item"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </footer>
            </div>
        </div>
        <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img class="has-ratio" src="assets/ava.jpg" alt="" height="100">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="subtitle">Johnson Deona</h1>
                            <p class="heading">Managing director</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" class="card-footer-item"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" class="card-footer-item"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </footer>
                </div>
            </div>
            <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img class="has-ratio" src="assets/avatar.jpg" alt="" height="100">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h1 class="subtitle">Johnson Deo</h1>
                                <p class="heading">Managing director</p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" class="card-footer-item"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" class="card-footer-item"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </footer>
                    </div>
                </div>
    </div>
</div>
